p {
  text-align: center;
  text-transform: capitalize;
  font-family: "Ubuntu";
}
#contact-form {
  font-family: "Ubuntu";
  width: 400px;
  margin: 0 auto;
  background: #e2e2e2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
#contact-form .form-group input {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}
